@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
.navbar{
    height: 10vh;
    background-color: #64CCC5;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border-radius: 20px;
    border: 2px;
    padding: 5px 10px;
    cursor: pointer;
    color: #176B87;
    font-family: "Poppins", sans-serif;
  }
  .navButton:hover{
    transition: ease-in 0.3s;
    opacity: 50%;
  }